---
import TierListCard from '@/components/TierListCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
// import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PatchSidebar from '@/components/PatchSidebar.astro'
import PatchHeader from '@/components/PatchHeader.astro'
import { getPatches } from '@/lib/api'

export async function getStaticPaths() {
  const { patches } = await getPatches()
  
  // Map patches to params. 
  // We include 'undefined' for the base /tierlist route to show the latest.
  const paths = patches.map((p) => ({ params: { patch: p } }))
  return [{ params: { patch: undefined } }, ...paths]   
}

const { patch: patchParam } = Astro.params
const { latest, patches } = await getPatches()

// Determine which patch to display. Default to latest if no param exists.
const activePatch = patchParam ?? latest
---

<Layout>
  <PageHead slot="head" title="Tier List" />
  <PatchHeader 
    slot="subposts-navigation" 
    patches={patches}
    activePatch={activePatch} 
    latest={latest}
  />

  <section class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-md)-2rem),100%)_minmax(0px,1fr)] gap-y-6">
    <div class="col-start-2 flex flex-col gap-y-8">
      <!-- <Breadcrumbs
        items={[
          { href: '/', label: 'Tierlist', icon: 'lucide:home' },
          { href: '/tierlist', label: 'Tier List', icon: 'lucide:list-ordered' },
          ...(patchParam ? [{ href: `/tierlist/${patchParam}`, label: `Patch ${patchParam}`, icon: 'lucide:file-clock' }] : [])
        ]}
      /> -->

      <div class="flex flex-col gap-y-2 text-center">
        <h1 class="text-3xl font-medium sm:text-4xl">Tier List</h1>
        <p class="text-muted-foreground text-sm sm:text-base">
          The most effective team compositions for patch {activePatch}.
        </p>
      </div>

      <section class="bg-background/50 relative overflow-hidden rounded-xl border shadow-sm">
        <div
          class="border-b px-6 py-4 text-center text-xs font-semibold uppercase tracking-widest text-muted-foreground/80"
        >
          Meta Version: {activePatch}
        </div>
        <div class="py-4">
          <TierListCard patch={activePatch} />
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 h-[4px] bg-gradient-to-r from-[#b38cb4] via-[#915db9] to-[#6f2dbd]"
        ></div>
      </section>
    </div>

    <PatchSidebar patches={patches} activePatch={activePatch} latest={latest} />
  </section>
</Layout>